# Hugo 构建输出
public/

# Hugo 缓存
resources/_gen/
.hugo_build.lock

# macOS 系统文件
.DS_Store

# 编辑器/IDE
.vscode/
.idea/
*.swp

# 如果用到 npm
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 环境变量
.env